.icon-group {
  text-align: center;
  margin-top:25px;
  z-index: 1;
}

.icon {
  display: inline-block;
  padding: 0 15px;
  color: #74CCF9;
  transition: ease 0.5s all;
}

.icon:hover {
  color: #51B3F8;
  -webkit-animation: wiggle 0.5s ease;
  animation: wiggle 0.5s ease;
}

@-webkit-keyframes wiggle {
  20%  {
    -webkit-transform: translate(2px 2px);
    transform: translateX(2px, 2);
  }
  40%  {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  60%  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80%  {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wiggle {
  20%  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  40%  {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  60%  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80%  {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
