.tooltip {
  font-size: 0.85em;
  position: absolute;
  display: block;
  border: 1px solid #384949;
  padding: 15px 23px 15px 25px;
  margin: 20px;
  top:0;
  right: 0;
  border-radius: 6px;
  text-align: center;
}

.slidedown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
  }

@keyframes slideDown {
    0% {
        top: -150;
    }
    40% {
        top: 15px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes slideDown {
    0% {
        top: -150;
    }
    30% {
        top: -15px;
    }
    100% {
        top: 0px;
    }
}

.slideup {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
    0% {
        top: 0;
    }
    30% {
        top: 10px;
    }
    100% {
        top: -200px;
    }
}

@-webkit-keyframes slideUp {
    0% {
        top: 0;
    }
    30% {
        top: 10px;
    }
    100% {
        top: -200px;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
    top: -200px;
}

@media only screen and (max-width: 600px) {
    .tooltip {
        display: none;
    }

    .show {
        display: none;
    }
}
