#name {
    font-size: 6em;
    text-align: center;
    width: 100vw;
    position: relative;
}

#name:hover {
    cursor: default;
}

.letter {
    height: 6vw;
    padding: 0 2px;
    position: relative;
}

.is_hidden {
    top: -80vh;
}

.is_static {
    top: 0;
}

.is_animated {
    top: 0;
    animation: slideIntoFrame 0.5s;
}

.wrapper span {
    position: absolute;
    top: -35px;
    left: 0;
    transition: ease 0.3s all;
}

.space {
    display: block;
    height: 15px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@keyframes slideIntoFrame {
    0% {
        top: -80vh;
    }
    50% {
        top: 5vh;
    }
    100% {
        top: 0;
    }
}
